<div class="footer-global d-flex flex-column justify-content-center align-items-center">
    <a href="/" class="psst">
        <img src="/assets/images/footer/pssst.svg" class="img-fluid mb-4"/>
    </a>
    <div class="d-flex">
        <a class="footer-icon me-26 clickable" href="https://www.instagram.com/fleurescenceee/" target="_blank">
            <img class="img-fluid" src="/assets/images/footer/instagram.svg"/>
        </a>
        
        <a class="footer-icon me-26 clickable" href="https://www.youtube.com/channel/UC3wq8Tc7atmv2wBGnZNTMmA" target="_blank">
            <img class="img-fluid" src="/assets/images/footer/youtube.svg"/>
        </a>
        
        <a class="footer-icon clickable" href="https://open.spotify.com/artist/0qfDuyvMKYlJv4OGH6876N?si=dTsur40jSSa53oQzuZf5Mw&nd=1" target="_blank">
            <img class="img-fluid" src="/assets/images/footer/spotify.svg"/>
        </a>
    </div>
    <div class="trademark mt-4">
        © 2022 Fleurescence
    </div>
    <img class="img-fluid line mb-5" src="/assets/images/footer/footer-line.svg">
</div>