<div class="d-flex justify-content-center align-items-center header-global">
    <a class="header-icon clickable me-62" href="/contact-me">
        <img src="/assets/images/header/contact.svg"/>
    </a>
    <a class="header-icon clickable me-43" href="/packs">
        <img src="/assets/images/header/packs.svg"/>
    </a>
    <a class="header-icon clickable me-43" href="/">
        <img class="img-fluid logo" src="/assets/images/header/logo.svg"/>
    </a>
    <a class="header-icon clickable me-62" href="/video">
        <img src="/assets/images/header/video.svg"/>
    </a>
    <a class="header-icon clickable" href="/music">
        <img src="/assets/images/header/music.svg"/>
    </a>

</div>