@import 'post.scss';
@import 'variables.scss';

body {
  font-family: 'Space Mono', monospace !important;
  display: flex;
  justify-content: center;

  .all-container{
    max-width: 100%;
    width: 1000px;
    display: flex;
    flex-direction: column;
  }

  a{
    text-decoration: none;
    color: unset;
    &:hover{
      color: unset;
    }
  }

}

.header-general{
  font-size: 20px;
  font-weight: 500;
  padding-top: 0.5in;
  .title{
      font-size: 30px;
      padding-left: 0.15in;
      .blue{
          color: $blue;
      }
  }
}

.post-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1in;
  padding-left: 0.3in;
  padding-right: 0.3in;
  .card-post{
    border: 1px solid black;
    width: 7in;
    max-width: 100%;
    margin-bottom: 0.5in;

    img{
      max-width:100%;
      width: 100%;
      max-height: 5in;
      object-fit: cover;
      object-position: center;
    }

    .footer-card{
      padding: 0.1in 0.2in;
      .title-date{
        font-size: 14px;
        .title{
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}
